%br/
%strong= answer.user.name
%br
= answer.body
.col-md-offset-10.col-md-2
  - if user_signed_in? && current_user.author?(answer)
    = link_to 'Edit', "#"
    |
    = link_to 'Delete', [@question, answer], method: :delete, data: { confirm: 'Are you sure?' }
%hr/
