.col-md-offset-11.col-md-1
  - if user_signed_in? && current_user.author?(question)
    = link_to '', edit_question_path(question), class: "glyphicon glyphicon-pencil", "data-target": "#edit_modal", "data-toggle": "modal"
    #edit_modal.modal.fade
      .modal-dialog
        .modal-content
    = link_to '', question, class: "glyphicon glyphicon-remove", method: :delete, data: { confirm: 'Are you sure?' }
