default: &default
  adapter: postgresql
  encoding: unicode
  username: sof
  password: sof_app
  timeout: 5000
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: sof_development

test:
  <<: *default
  database: sof_test


production:
  <<: *default
  database: sof_production
  username: sof
  password: <%= ENV['SOF_DATABASE_PASSWORD'] %>
